* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #62a9f6, #0c1525);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #393d4555;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(16, 0, 0, 0.192);
}

.todo-app h2 {
    color: #f9b28cc4;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e2637d3;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 5px #2b2b4331;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    color: white;
}

button {
    border: none;
    outline: none;
    padding: 16px 40px;
    background: #f3dbcec4;
    color: #0b0b0b;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(uncheck.png);
    background-size: cover;
    top: 9px;
    left: 8px;
}

ul li.checked {
    color: #000000;
    text-decoration:  rgb(212, 234, 166) line-through;
}

ul li.checked::before {
    background-image: url(check.png);
}

ul li span{
    position: absolute;
    right:0;
    top:5px;
    width:40px;
    height: 40px;
    font-size: 22px;
    color:#d4eaa6;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    color:#0b0b0b;
    background: #f3dbcec4;
}

.alert {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e87ca0ae;
    color: #0b0b0b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.quote {
    background-color: transparent;
    padding: 20px;
    text-align: center;
    
}

.quote p {
    font-size: 35px;
    color: #342c2c;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 80px;
}
